html {
  margin: 0;
  height: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.section{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url(https://images.pexels.com/photos/1036644/pexels-photo-1036644.jpeg)no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  position: relative;
  top: 0;
  width: 100%;
  padding: 40px 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  float: left;
  width: 100px;
  height: 100px;
}

header .navigation a{
  color: #FF6347;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2px 45px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: background;
  font-size: 20px;
}

header .navigation a:not(:last-child){
  margin-right: 30px;
}

header .navigation a:hover{
  background: #fff;
}

.content{
  margin: 60px 100px;
}

.content .info h1{
  color: #b30059;
  font-size: 55px;
  font-family: Times-New-Roman;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 60px;
  margin-bottom: 30px;
}

.content .info p{
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

iframe {
  display: block;
  margin: auto;
  width: 560px ;
  height: 315px ;
}

.content .info-btn{
  color: #fff;
  background:#b30059;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 10px 30px;
  border-radius: 5px;
  transition: 0.3s;
  transition-property: background;
  position: absolute;
  margin-left: 530px;
  margin-top: 1px;
  
}

.content .info-btn:hover{
  background: #FF8C00;
}

.image {
  display: block;
  margin-left: 620px;
  }

#previous {
  color: #fff;
  background:#b30059;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 10px 30px;
  border-radius: 5px;
  transition: 0.3s;
  transition-property: background;
  margin-right: 60px;
  margin-left: -110px;
}

#previous:hover{
  background: #FF8C00;
}

#next {
  color: #fff;
  background:#b30059;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 10px 30px;
  border-radius: 5px;
  transition: 0.3s;
  transition-property: background;
}

#next:hover{
  background: #FF8C00;
}

.c-site-footer p {
  width: 100%;
  background-color: #FFE4B5;
  color: black;
  font-size: 12px;
  text-align: right;
}
p { text-align: center;
}
